@media (max-width: 530px) { .smallimg {display: block} .midimg {display: none} .bigimg {display: none} }
@media (min-width: 531px) and (max-width: 700px)  { .smallimg {display: none} .midimg {display: block} .bigimg {display: none} }
@media (min-width: 701px)  { .smallimg {display: none} .midimg {display: none} .bigimg {display: block} }

img {
    width: 100%;
    padding: 10px;
}

.Songbook {
    max-width: 701px;
    margin: auto;
}

h4 {
    text-align: center;
}

.serif-centered {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.floatRight {
    float: right;
}

.textRight {
    text-align: right;
}

.textLeft {
    text-align: left;
}

.box {
    border: 1px black;
}

.whiteSpacePre {
    white-space: pre;
}